# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.so.*
*.dylib.*

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Test executables
demo/*
!demo/*.*
demo/*.o
sista
!include/sista

# Doxygen output
docs/html/
docs/latex/

# Debian packages
*.deb
*.changes
*.buildinfo

packageroot/debian/sista/
packageroot/debian/*.log
packageroot/debian/*.substvars
packageroot/debian/files

# Other files
.vscode/
.vscode/*
