Source: sista
Section: devel
Priority: optional
Maintainer: FLAK-ZOSO <mattia.marchese.2006@gmail.com>
Build-Depends: build-essential, debhelper (>= 11), g++ (>= 7)

Package: sista
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Sista is a lightweight, fast, easy-to-use, memory-safe and OS-agnostic object-oriented library for making terminal videogames and animations.
